{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Token-Number</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'maincss/styles/otp.css' %}" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </head>
  <body>
    <div class="d-flex justify-content-center align-items-center continer" style="margin: 150px;">
      <div class="card py-5 px-3">
        <h5 class="m-0">Enter your Token Number</h5>
        {% comment %} <span class="mobile-text"
          ><b>Enter the code we just sent on your phone</b>
          <b class="text-color">+91 09899619282</b>
        </span> {% endcomment %}
        <form method="post">
          {% csrf_token %}
          {% if messages %}              
          {% for message in messages %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <script>swal({
            title: "Error!",
            text: "{{message}}",
            icon: "warning",
            button: "OK",
            });
            </script>
               
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
              <script>swal({
              title: "Success :)",
              text: "{{message}}",
              icon: "success",
              button: "OK",
              });
            </script>
            {% endif %}              
          {% endfor %} 
          {% endif %}
        <div class="d-flex flex-row mt-5">
          <input type="text" class="form-control" autofocus=" "name="token"/>
        </div>
        <div class="text-center mt-5">
          <button class="btn btn-primary mt-3"  type="submit">Submit</button>
        </div>
        </form>
      </div>
    </div>
    <script src="{% static 'maincss/js/otp.js' %}"></script>
  </body>
</html>