{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>cloud</title>
    <!-- Favicon icon -->
    <link rel="icon" type="" sizes="16x16" href="{% static 'admincss/images/cloud_left.png' %}">
    <!-- Custom Stylesheet -->
    <link href="{% static 'admincss/plugins/tables/css/datatable/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <link href="{% static 'admincss/css/style.css' %}" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="{% url 'cloud-index' %}">
                    <b style="color:white"><i class="fa fa-cloud"></i></b>
                    <span class="logo-compact"><img src="/images/cloud_left_full.png" alt=""></span>
                    <span class="brand-title" style="color:white;font-size:25px;">
                        cloud
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" class="form-control" placeholder="Search Dashboard" aria-label="Search Dashboard">
                        <div class="drop-down animated flipInX d-md-none">
                            <form action="#">
                                <input type="text" class="form-control" placeholder="Search">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="toggle-icon"><i class="icon-menu"></i></span>
                                
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>

                                        <li><a href="{% url 'index' %}"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    
                    <li>
                        <a  href="{% url 'cloud-index' %}" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                        </a>
        
                    </li>
                    <li>
                        <a  href="{% url 'cloud-authorization' %}" aria-expanded="false">
                            <i class="fa fa-user-circle "></i><span class="nav-text">User Authorization</span>
                        </a>
                    </li>

                    <li>
                        <a  href="{% url 'cloud-activated-users' %}" aria-expanded="false">
                            <i class="fa fa-folder-open menu-icon"></i><span class="nav-text">Activated Users</span>
                        </a>
        
                    </li>
                    <li>
                        <a  href="{% url 'cloud-access-control' %}" aria-expanded="false">
                            <i class="fa fa-users "></i><span class="nav-text">Access Control</span>
                        </a>
                        
                    </li>  


                    <li>
                        <a  href="{% url 'cloud-user-request' %}" aria-expanded="false">
                            <i class="fa fa-paper-plane"></i><span class="nav-text">User Request</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            
            <!-- row -->

            <div class="container-fluid">
 
                <div class="row mt-3">
                    <div class="col-12">
                       <h1 style="background-color:rgb(99, 36, 158);border-radius:6px;color:white;font-family:sans-serif;text-align:center;font-size:23px;padding:9px;font-weight:bold;">Access Control</h1>
                    </div>
  
                  </div>

                 
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Data Table</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                           
                                            <tr>
                                                <th>user id </th>
                                                <th>Token no</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Upload</th>
                                                <th>Download</th>
                                                <th>Update</th>
                                                <th>Action</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for data in data%} 
                                            <tr>
                                                <form method="POST">
                                                     {% csrf_token %} 
                                                    <td><input type="text" class="p-1" placeholder="" name="user_id" readonly value={{data.user_id}}></td>
                                                    <td><input type="text" class="p-1" placeholder="" name="token_no"  readonly value={{data.token_no}}></td>
                                                    <td><input type="text" class="p-1" placeholder="" name="name" readonly value={{data.user_name}}></td>
                                                    <td><input type="text" class="p-1" placeholder="" name="email" value={{data.user_email}}></td>
                                                    <td><select type="text" class="p-1" style="width:120px" placeholder="" name="upload">
                                                     <option>YES</option>
                                                     <option>NO</option>
                                                    </select></td>
                                                    <td><select type="text" class="p-1" style="width:120px" placeholder="" name="update">
                                                        <option>YES</option>
                                                        <option>NO</option>
                                                       </select></td>
                                                    <td><select type="text" class="p-1" style="width:120px" placeholder="" name="download">
                                                    <option>YES</option>
                                                    <option>NO</option>
                                                    </select></td>
                                                   
                                                    <td><button type="submit" class="btn btn-outline-primary">submit</button></td>

                                                </form>
                                            </tr>
                                            {% endfor %} 
                                        </tbody>


{% comment %} 
                                        <tbody>
                                            {% for i in data%}
                                            <tr>
                                                <form method="POST">
                                                     {% csrf_token %} 
                                                    <td><input type="text" class="p-1" placeholder="" name="user_id" readonly value={{i.user_id}}></td>
                                                    <td><input type="text" class="p-1" placeholder="" name="token_no"  readonly value={{i.token_no}}></td>
                                                    <td><input type="text" class="p-1" placeholder="" name="name" readonly value={{i.user_name}}></td>
                                                    <td><input type="text" class="p-1" placeholder="" name="email" value={{i.user_email}}></td>
                                                    <td><select type="text" class="p-1" style="width:120px" placeholder="" name="upload">
                                                     <option>YES</option>
                                                     <option>NO</option>
                                                    </select></td>
                                                    <td><select type="text" class="p-1" style="width:120px" placeholder="" name="update">
                                                        <option>YES</option>
                                                        <option>NO</option>
                                                       </select></td>
                                                    <td><select type="text" class="p-1" style="width:120px" placeholder="" name="download">
                                                    <option>YES</option>
                                                    <option>NO</option>
                                                    </select></td>
                                                   
                                                    <td><button type="submit" class="btn btn-outline-primary">submit</button></td>

                                                </form>
                                            </tr>
                                            {% endfor %}
                                        </tbody> {% endcomment %}
                                        <tfoot>
                                            
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="{% static 'admincss/plugins/common/common.min.js' %}"></script>
    <script src="{% static 'admincss/js/custom.min.js' %}"></script>
    <script src="{% static 'admincss/js/settings.js' %}"></script>
    <script src="{% static 'admincss/js/gleek.js' %}"></script>
    <script src="{% static 'admincss/js/styleSwitcher.js' %}"></script>

    <script src="{% static 'admincss/plugins/tables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'admincss/plugins/tables/js/datatable/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'admincss/plugins/tables/js/datatable-init/datatable-basic.min.js' %}"></script>

</body>

</html>